<div class="form-inline d-flex flex-row justify-content-center">
  <%= form_for @task, remote: true do |f| %>
    <%= f.text_field :name, class: "form-control mt-1" %>
    <%= f.submit "新建单词计划", class: "btn btn-primary mt-1" %>
  <% end %>
</div>
