<% provide(:title, "单词计划清单") %>
<div class="row">
  <%= render 'shared/word_bar' %>
  <div class="col-md-9">
    <div class="card">
      <div class="card-header text-center text-secondary">
        单词计划清单
      </div>
      <div class="card-body">
        <div class="text-center mb-4">
          <%= link_to "创建单词计划", new_task_path, id: "new_link", remote: true, class: "btn btn-primary" %>
        </div>
        <%= render 'incomplete_tasks' %>
        <%= render 'complete_tasks' %>
      </div>
    </div>
  </div>
</div>
