<% provide(:title, "首页") %>
<div class="card-deck">
   <div class="card">
      <div class="card-header">
        <p class="card-text text-secondary text-center">英译汉</p>
      </div>
      <div class="card-body">
        <%= form_tag '/words/interpret', method: :get do %>
          <p class="text-center">
            <%= text_field_tag :name, nil, placeholder: 'enter word...' %>
            <%= submit_tag "翻译", class: "btn btn-primary btn-sm"%>
          </p>
        <% end %> 
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <p class="card-text text-secondary text-center">单词本</p>
      </div>
      <div class="card-body">
        <p class="text-center">
          <a href="<%= words_path %>">
            <i class="fa fa-book fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
</div>
