<p class="card-text"><strong>美音音标:</strong> &nbsp&nbsp <%= @word.us %></p>
<p class="card-text"><strong>英音音标:</strong> &nbsp&nbsp <%= @word.uk %></p>
<p class="card-text"><strong>中文翻译:</strong> &nbsp&nbsp <%= @word.chinese %></p>
